<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <context-param>
  	<param-name>usuario</param-name>
  	<param-value>root</param-value>
  </context-param>
  <context-param>
  	<param-name>password</param-name>
  	<param-value>root</param-value>
  </context-param>
  <context-param>
  	<param-name>database</param-name>
  	<param-value>jdbc:mysql://localhost:3306/bdfct?useSSL=false</param-value>
  </context-param>
  <context-param>
  	<param-name>driver</param-name>
  	<param-value>com.mysql.jdbc.Driver</param-value>
  </context-param>
  <servlet>
  	<servlet-name>ValidarUsuario</servlet-name>
  	<display-name>ValidarUsuario</display-name>
  	<description></description>
  	<servlet-class>es.cj.controller.ValidarUsuario</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>RegistrarUsuario</servlet-name>
  	<display-name>RegistrarUsuario</display-name>
  	<description></description>
  	<servlet-class>es.cj.controller.RegistrarUsuario</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>CerrarSesion</servlet-name>
  	<display-name>CerrarSesion</display-name>
  	<description></description>
  	<servlet-class>es.cj.controller.CerrarSesion</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AnadirDia</servlet-name>
  	<display-name>AnadirDia</display-name>
  	<description></description>
  	<servlet-class>es.cj.controller.AnadirDia</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>EditarFicha</servlet-name>
  	<display-name>EditarFicha</display-name>
  	<description></description>
  	<servlet-class>es.cj.controller.EditarFicha</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>BorrarFicha</servlet-name>
  	<display-name>BorrarFicha</display-name>
  	<description></description>
  	<servlet-class>es.cj.controller.BorrarFicha</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>BorrarVisita</servlet-name>
  	<display-name>BorrarVisita</display-name>
  	<description></description>
  	<servlet-class>es.cj.controller.BorrarVisita</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AnadirVisita</servlet-name>
  	<display-name>AnadirVisita</display-name>
  	<description></description>
  	<servlet-class>es.cj.controller.AnadirVisita</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AceptDenyFicha</servlet-name>
  	<display-name>AceptDenyFicha</display-name>
  	<description></description>
  	<servlet-class>es.cj.controller.AceptDenyFicha</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AceptDenyVisita</servlet-name>
  	<display-name>AceptDenyVisita</display-name>
  	<description></description>
  	<servlet-class>es.cj.controller.AceptDenyVisita</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>UsuarioGoogle</servlet-name>
  	<display-name>UsuarioGoogle</display-name>
  	<description></description>
  	<servlet-class>es.cj.controller.UsuarioGoogle</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>ValidarUsuario</servlet-name>
  	<url-pattern>/ValidarUsuario</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>RegistrarUsuario</servlet-name>
  	<url-pattern>/RegistrarUsuario</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>CerrarSesion</servlet-name>
  	<url-pattern>/CerrarSesion</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AnadirDia</servlet-name>
  	<url-pattern>/AnadirDia</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>EditarFicha</servlet-name>
  	<url-pattern>/EditarFicha</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>BorrarFicha</servlet-name>
  	<url-pattern>/BorrarFicha</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>BorrarVisita</servlet-name>
  	<url-pattern>/BorrarVisita</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AnadirVisita</servlet-name>
  	<url-pattern>/AnadirVisita</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AceptDenyFicha</servlet-name>
  	<url-pattern>/AceptDenyFicha</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AceptDenyVisita</servlet-name>
  	<url-pattern>/AceptDenyVisita</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>UsuarioGoogle</servlet-name>
  	<url-pattern>/UsuarioGoogle</url-pattern>
  </servlet-mapping>

  
  <welcome-file-list>
  	<welcome-file>index.jsp</welcome-file>
  	<welcome-file>index.html</welcome-file>
  	<welcome-file>index.htm</welcome-file>
  </welcome-file-list>
</web-app>
